name: Preview Release

on:
  pull_request:
  push:
    branches:
      - main
      - master

jobs:
  preview:
    name: Publish preview release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install packages
        run: bun install

      - name: Build code
        run: bun run build

      - name: Test
        run: bun run test

      - name: Publish preview
        run: npx pkg-pr-new publish --compact
